body {
    font-family: Courier;
    margin-left: 96px;
    margin-right: 96px;
    padding-top: 24px;
}

ul {
    list-style-type: none;
}

ul:hover {
    color: #689ea5;
}

#blurb {
    display: inline-block;
}

#blurb-container {
    margin-top: 32px;
    margin-bottom: 32px;
}

.label {
    font-weight: bold;
}

.label a:link {
    color: #689ea5;
    text-decoration: none;
}

.label a:hover, a:active {
    text-decoration: underline;
}

.label a:visited {
    color: #345054;
}

#title-container {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.subtitle-container {
    font-size: 16px;
}

