body {
        font-family: Courier;
        margin-left: 128px;
        margin-right: 128px;
        padding-top: 24px;
}

ul {
    list-style-type: none;
}

#blurb {
        display: inline-block;
}

#blurb-container {
        margin-top: 32px;
        margin-bottom: 32px;
}

.label {
        font-weight: bold;
}

.label a:link {
        text-decoration: none;
}

#title-container {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
}

#quick-links-container a {
}

.subtitle-container {
        font-size: 16px;
}

