/* Section - Parallax Project Title */
/**************************/
#parallax #project-title {
    background: white;
    color: #5E878E;
    margin: 0 auto;
    padding: 300px;
    text-align: center;
}

#parallax #project-title h1 {
    font-size: 70px;
    letter-spacing:8px;
}

#parallax #project-title h3 {
    font-size: 35px;
}

#parallax #project-title a {
    color: #5E878E;
    text-decoration: none;
}

/* Section - Block links */
/**************************/
#parallax .block a {
    color: #5E878E;
    font-weight: 600;
    text-decoration: none;
}
